body {
    font-family: "Poppins", sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.container.shifted {
    justify-content: space-between;
}

.panel {
    background-color: #4F1787;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 800px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.panel:hover {
    transform: translateY(-5px);
}

.prediction-panel {
    background-color: #EB3678;
}

.info-panel {
    background-color: #FB773C;
}

.result-panel {
    background-color: #EB3678;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    width: 400px;
    height: 800px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    box-sizing: border-box;
}

.result-panel>h3 {
        font-size: 24px;
        color: #E3FDFD;
}

h1, h3 {
    font-size: 24px;
    color: #E3FDFD;
}

label, li, p {
    color: #E3FDFD;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button {
    margin: 15px 0px 0px 0px;
    width: 100%;
    padding: 10px;
    background-color: #FB773C;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #F86A1D;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}
